<footer>
  <div class="d-flex h-100 w-100 justify-content-center align-items-center">
    <ul class="list-group list-group-horizontal">
      <li>
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active">About</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active">Contact us</a>
      </li>
    </ul>
  </div>
</footer>
