<div class="header">
  <div class="inner-header">
    <div class="logo-container">
      <h1>in<span>surance</span></h1>
    </div>
    <ul class="navigation">
      <li>
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/client']" routerLinkActive="active"
          >Client</a
        >
      </li>
    </ul>
  </div>
</div>
