$color1: #f2f2f2;
$color2: #19db80;
$color3: #ffffff;
$color4: #dc1e23;
$color5: #68696a;
$color6: #525354;
$color7: #3d3e3f;
$color8: #81dbd8;
$color9: #fafafa;
$color10: #3b3a3a;
$color11: #acacac;
$color12: #c7c7c7;
$color13: #cfcfcf;
$color14: #dedede;
$color15: #ececec;
$color16: #000000;
$color17: #535353;
$color18: #6a6a6a;
$color19: #8f8f8f;
$color20: #e4e4e4;
$color21: #00000054;
$color22: #d2d2d2;
$color23: #9f9f9f;
